<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Olá</h2>
    <p>
        {%if idade >=18%}
            <p>Você é MAIOR de idade</p>
            <p>
                <img src="/static/imagens/orcamentoempresarial.jpg" alt="">
            </p>
        {%else%}
            <p>Você é MENOR de idade</p>
            <p>Você tem {{idade}} anos</p>
        {%endif%}
    </p>
</body>
</html>